#lessons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* ---------- */
/* DISCIPLINA */
/* ---------- */

.subject-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    padding: 12px 16px;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.25);
    color: var(--light-color);
}

.subject-box h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 128%;
    margin: 0;
}

.subject-box p {
    font-weight: 300;
    font-size: 14px;
    line-height: 128%;
    margin: 0;
}

.subject-box__teacher {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.subject-box__teacher p {
    font-size: 14px;
    line-height: 148%;
}

.subject-box__teacher p span {
    font-weight: 500;
}

.teacher__profile-image {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 2px solid var(--light-color); */
}

.subject-section__title {
    font-size: 16px;
}

.subject-section__topics {
    font-size: 14px;
}