#sequence img {
    width: 18px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7498%) hue-rotate(119deg) brightness(112%) contrast(101%);
}

#sequence {
  flex-direction: column;
  gap: 2px;
}

.sequence-title {
    font-size: 12px;
}

.sequence-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.sequence-value {
    font-size: 18px;
    min-width: 18px;
    font-weight: 400;
}

/* ---------- */
/* DISCIPLINA */
/* ---------- */

.subject-box {
    padding: 12px 12px 48px;
    background-color: #2196F3;
    border-radius: var(--border-radius);
    box-shadow: 0px -2px 12px 2px rgba(77,77,77,0.15);
    -webkit-box-shadow: 0px -2px 12px 2px rgba(77,77,77,0.15);
    -moz-box-shadow: 0px -2px 12px 2px rgba(77,77,77,0.15);
}

.subject-box:nth-child(3n + 2) {
    background-color: #64B5F6;
}

.subject-box:nth-child(3n + 3) {
    background-color: #BBDEFB;
}

.subject-box:not(:first-child) {
    margin-top: -36px;
}

.subject-box h2 {
    font-size: 18px;
    margin: 0;
}

.subject-box p {
    margin: 0;
}

.subject-section__title {
    font-size: 16px;
}

.subject-section__topics {
    font-size: 14px;
}

