:root {
  --primary-color:#0267C1;
  --primary-color-light: #0075C4;
  --primary-color-extra-light: rgb(69, 168, 255);
  --secondary-color: #FB8B24;
  --light-color:#FFFFFF;
  --dark-color:#4D4D4D;
  --dark-gray-color: #999999;
  --gray-color: #CCCCCC;
  --light-gray-color: #E6E6E6;
  --correct-color: #008148;
  --wrong-color: #B1061D;
  --border-radius: 20px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', 'system-ui', 'Arial', 'sans-serif';
  background: var(--light-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  margin: 0 auto;
}

button {
  font-family: 'Poppins';
}

.container {
  padding: 0 18px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

header .container {
  text-align: center;
}

.btn {
  font-weight: 600;
  padding: 8px 24px;
}

/* ------ */
/* NAVBAR */
/* ------ */

/* .topbar nav {

} */

.topbar nav {
  padding: 24px 6px;
  background: var(--primary-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.topbar nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.topbar nav button, .topbar nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  border: none;
  background: transparent;
  padding: 0;
}

.nav-button {
  width: 48px;
  height: 48px;
}

.nav-button svg {
  width: 20px;
  height: 20px;
}

/* ATIVIDADE */

#activity-container {
  max-width: 900px;
  padding: 0 18px;
}

#activity-container h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 36px;
}

body:has(.flashcard) #activity-container h2 {
  color: var(--light-color);
}

.continue-btn {
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  border-radius: 24px;
  border: none;
  color: var(--light-color);
}

.subtitle {
  margin:0;
  color:var(--dark-color);
}

.lesson-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:16px;
  margin-top:20px;
}

.activity-box {
  position: relative;
}

/* ----- */
/* Card */
/* ---- */

.card {
  background: var(--light-color);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 6px 18px rgba(33,49,58,0.06);
  cursor: pointer;
  transition: transform .14s;
}

.card:hover {
  transform:translateY(-6px)
}

.card .meta {
  font-size: 12px;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.card h3 {
  margin: 0;
}

.card p {
  margin: 8px 0 0 0;
  color: var(--dark-color);
  font-size: 14px;
}

.back {
  display: inline-block;
  margin-bottom: 12px;
  color: var(--dark-color);
}

/* --------- */
/* Flashcard */
/* --------- */

body:has(.flashcard) {
  background: var(--primary-color);
}

.flashcard {
  width: 100%;
  height: 260px;
  position: relative;
}

.card-face {
  position:absolute;
  backface-visibility:hidden;
  transition: transform .6s;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  background-color: var(--light-color);
  border-radius: 14px;
  text-align: center;
}

.front {
  transform: rotateY(0deg);
}

.back-face {
  transform: rotateY(180deg);
}

.flipped .front {
  transform: rotateY(-180deg);
}

.flipped .back-face {
  transform: rotateY(0deg);
}

.flip-btn {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background: var(--light-color);
  color: var(--primary-color);
  border: none;
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;
}

/* ----- */
/* Audio */
/* ----- */

.audio-player {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:12px;
  padding:30px;
}

.play-btn {
  width:96px;
  height:96px;
  border-radius:999px;
  display:flex;
  align-items:center;
  justify-content:center;
  border:none;
  background:var(--primary-color);
  color:white;
  font-size:22px;
  cursor:pointer;
}

/* ---- */
/* Quiz */
/* ---- */

.quiz-opts {
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:12px;
}

.opt {
  padding:12px;
  border-radius:999px;
  background:#f2faf4;
  border:1px solid rgba(97,116,119,0.06);
  cursor:pointer;
}

.opt.correct {
  background:#008148;
  border-color:#008148;
  color: var(--light-color);
}

.opt.wrong {
  background:#B1061D;
  border-color:#B1061D;
  color: var(--light-color);
}

/* ------------- */
/* Caça-Palavras */
/* ------------- */

.wordgrid {
  display:grid;
  gap:4px;
  justify-content:center;
  margin-top:12px;
  scale: 0.9;
}

@media (min-width: 576px) {
  .wordgrid {
    scale: 1;
  }
}

.grid-cell {
  width:36px;
  height:36px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  background:#fff;
  border:1px solid #e6f1ec;
}

/* -------- */
/* Feedback */
/* -------- */

.feedback {
  margin-top:12px;
  font-weight:600
}

@media (max-width:600px) {
  .card {
    padding:12px
  }

  .flashcard {
    height:220px
  }
}